Repository Nullpoint56/Warships2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine, check-tests-warships, check-tools, check-rerun-everything

.pre-commit-config.yaml:

default_stages: [pre-commit]

repos:
  - repo: local
    hooks:
      - id: ruff-docs-check
        name: ruff check docs
        entry: uv run ruff check docs README.md
        language: system
        pass_filenames: false
        files: ^(docs/|.*\.md$)

      - id: ruff-docs-format
        name: ruff format docs
        entry: uv run ruff format --preview --check docs README.md
        language: system
        pass_filenames: false
        files: ^(docs/|.*\.md$)

      - id: check-engine-or-warships
        name: quality check (engine/warships)
        entry: uv run python scripts/check.py --skip-lint-format-typecheck
        language: system
        pass_filenames: false
        files: ^(engine/|warships/)

      - id: check-tests-engine
        name: quality check (tests/engine)
        entry: uv run python scripts/check.py --skip-lint-format-typecheck --skip-warships-tests
        language: system
        pass_filenames: false
        files: ^tests/engine/

      - id: check-tests-warships
        name: quality check (tests/warships)
        entry: uv run python scripts/check.py --skip-lint-format-typecheck --skip-engine-tests
        language: system
        pass_filenames: false
        files: ^tests/warships/

      - id: check-tools
        name: quality check (tools)
        entry: uv run python scripts/check.py --skip-lint-format-typecheck --skip-engine-tests --skip-warships-tests
        language: system
        pass_filenames: false
        files: ^tools/

      - id: check-rerun-everything
        name: quality check (config/scripts/workflows)
        entry: uv run python scripts/check.py --skip-lint-format-typecheck
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|pytest\.ini|uv\.lock|scripts/|\.github/)

feat: get rid of Ruff...
  .pre-commit-config.yaml
  engine/rendering/scene.py
  engine/runtime/host.py
  engine/runtime/observability.py
  engine/runtime/profiling.py
  pyproject.toml
  scripts/check.py
  tools/engine_monitor/app.py
Due: check-engine-or-warships, check-tools, check-rerun-everything

docs: add policies and engine vision docs
  docs/architecture/audio_policies.md
  docs/architecture/engine_vision_and_strategy.md
  docs/architecture/input_policies.md
  docs/architecture/rendering_policies.md
  docs/architecture/window_and_panel_policies.md
Due: ruff-docs-check, ruff-docs-format

docs: add migration plan doc
  docs/plans/active/policy_migration_plan.md
Due: ruff-docs-check, ruff-docs-format

phase 1: add input/window/render snapshot API contracts
  engine/api/__init__.py
  engine/api/game_module.py
  engine/api/input_snapshot.py
  engine/api/render_snapshot.py
  engine/api/window.py
  tests/engine/unit/api/test_policy_contracts.py
  warships/game/app/engine_game_module.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 2 Extract Window/Panel Subsystem
  engine/rendering/scene_runtime.py
  engine/runtime/bootstrap.py
  engine/runtime/pygfx_frontend.py
  engine/window/__init__.py
  engine/window/rendercanvas_glfw.py
  tests/engine/unit/runtime/test_bootstrap.py
  tests/engine/unit/runtime/test_pygfx_frontend.py
  tests/engine/unit/window/test_rendercanvas_glfw.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 2 Extract Window/Panel Subsystem Closure pass
  engine/api/window.py
  engine/rendering/scene.py
  engine/runtime/bootstrap.py
  engine/runtime/pygfx_frontend.py
  engine/window/rendercanvas_glfw.py
  tests/engine/unit/runtime/test_bootstrap.py
  tests/engine/unit/runtime/test_pygfx_frontend.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 3 Deterministic Input Snapshot Pipeline
  engine/api/game_module.py
  engine/api/input_snapshot.py
  engine/api/window.py
  engine/input/input_controller.py
  engine/runtime/bootstrap.py
  engine/runtime/host.py
  engine/runtime/pygfx_frontend.py
  engine/window/rendercanvas_glfw.py
  tests/engine/unit/input/test_input_controller.py
  tests/engine/unit/runtime/test_host.py
  tests/engine/unit/runtime/test_pygfx_frontend.py
  tests/engine/unit/window/test_rendercanvas_glfw.py
  warships/game/app/engine_game_module.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 4 Action Mapping and Replay Compliance
  engine/api/ui_framework.py
  engine/input/input_controller.py
  engine/runtime/framework_engine.py
  engine/runtime/host.py
  tests/engine/unit/diagnostics/test_replay.py
  tests/engine/unit/input/test_input_controller.py
  tests/engine/unit/runtime/test_framework_engine.py
  tests/engine/unit/runtime/test_host.py
  tests/warships/unit/app/test_engine_game_module.py
  warships/game/app/engine_game_module.py
Due: check-engine-or-warships, check-tests-engine, check-tests-warships

feat: Phase 5 Simulation/Rendering Decoupling via RenderSnapshot
  engine/api/render.py
  engine/rendering/scene.py
  engine/runtime/host.py
  tests/engine/unit/api/test_debug_api.py
  tests/engine/unit/runtime/test_host.py
  tests/warships/unit/app/test_engine_game_module.py
  tests/warships/unit/ui/test_game_view.py
  warships/game/app/engine_game_module.py
  warships/game/ui/game_view.py
Due: check-engine-or-warships, check-tests-engine, check-tests-warships

feat: Phase 6 Explicit Renderer Lifecycle and Pass Pipeline
  engine/rendering/scene.py
  tests/engine/unit/rendering/test_scene_graphics.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 7 Rendering Policy Hardening
  engine/api/render_snapshot.py
  engine/rendering/scene.py
  tests/engine/unit/api/test_policy_contracts.py
  tests/engine/unit/rendering/test_scene_graphics.py
  warships/game/ui/game_view.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 8 Diagnostics, Thread Readiness, and Cleanup
  engine/api/game_module.py
  engine/runtime/host.py
  engine/runtime/pygfx_frontend.py
  engine/runtime/snapshot_exchange.py
  tests/engine/unit/runtime/test_host.py
  tests/engine/unit/runtime/test_pygfx_frontend.py
  tests/engine/unit/runtime/test_snapshot_exchange.py
  tests/warships/integration/app_engine/test_engine_module_smoke.py
  tests/warships/unit/app/test_engine_game_module.py
  warships/game/app/engine_game_module.py
Due: check-engine-or-warships, check-tests-engine, check-tests-warships

feat: architectural cleanup phase
  docs/plans/active/policy_migration_plan.md
  engine/input/input_controller.py
  engine/rendering/scene.py
  engine/runtime/host.py
  engine/runtime/pygfx_frontend.py
  tests/engine/unit/api/test_debug_api.py
  tests/engine/unit/input/test_input_controller.py
  tests/engine/unit/runtime/test_host.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine

docs: wgpu renderer pipeline implementation plan
  docs/plans/active/wgpu_only_renderer_migration_plan.md
Due: ruff-docs-check, ruff-docs-format

docs: wgpu renderer pipeline implementation plan extension with lower level choices
  docs/architecture/asset_management_policies.md
  docs/plans/active/wgpu_only_renderer_migration_plan.md
  docs/plans/archive/engine_generalization_plan.md
  docs/plans/archive/policy_migration_plan.md
Due: ruff-docs-check, ruff-docs-format

feat: Phase 1 Introduce New WGPU Renderer Backend
  engine/rendering/__init__.py
  engine/rendering/wgpu_renderer.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 2 Surface Attachment and Window Contract Wiring
  engine/api/__init__.py
  engine/api/hosted_runtime.py
  engine/api/window.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/bootstrap.py
  engine/runtime/window_frontend.py
  engine/window/rendercanvas_glfw.py
  tests/engine/unit/runtime/test_bootstrap.py
  tests/engine/unit/runtime/test_window_frontend.py
  tests/warships/unit/app/test_engine_hosted_runtime.py
  warships/game/app/engine_hosted_runtime.py
Due: check-engine-or-warships, check-tests-engine, check-tests-warships

feat: Phase 3 Port Frame Lifecycle and Pass Pipeline
  engine/rendering/wgpu_renderer.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 4 Resize, DPI, and Surface Reconfigure
  engine/rendering/wgpu_renderer.py
  engine/runtime/bootstrap.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
  tests/engine/unit/runtime/test_bootstrap.py
Due: check-engine-or-warships, check-tests-engine

fix: patch Phase 1 gap for fallback font discovery
  engine/rendering/wgpu_renderer.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 5 Rendering Policy Hardening on New Backend
  engine/rendering/wgpu_renderer.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 6 Rename Runtime Entry Points to Backend-Neutral Names
  tests/engine/unit/runtime/test_backend_neutral_runtime_naming.py
Due: check-tests-engine

feat: Phase 7 Remove Legacy PYGFX Renderer Code
  engine/rendering/__init__.py
  engine/rendering/scene.py
  engine/rendering/scene_primitives.py
  engine/rendering/scene_retained.py
  engine/runtime/host.py
  tests/engine/integration/test_diagnostics_disabled_parity.py
  tests/engine/integration/test_resize_diagnostics_pipeline.py
  tests/engine/unit/diagnostics/test_crash.py
  tests/engine/unit/rendering/test_no_pygfx_runtime_path.py
  tests/engine/unit/rendering/test_scene_graphics.py
  tests/engine/unit/rendering/test_scene_primitives.py
  tests/engine/unit/rendering/test_scene_retained.py
Due: check-engine-or-warships, check-tests-engine

feat: Phase 8 Dependency and Documentation Cleanup
  .github/workflows/quality.yml
  docs/architecture/system_overview.md
  docs/operations/runtime_configuration.md
  docs/operations/windows_build.md
  pyproject.toml
  tests/engine/unit/runtime/test_no_pygfx_reintroduction.py
Due: ruff-docs-check, ruff-docs-format, check-tests-engine, check-rerun-everything

docs: make plan to restore actual rendering capability...
  docs/plans/README.md
  docs/plans/active/wgpu_renderer_functional_completion_plan.md
Due: ruff-docs-check, ruff-docs-format

feat: renderer functionality restore Phase 1: Geometry Comes Back
  engine/rendering/wgpu_renderer.py
Due: check-engine-or-warships

feat: renderer functionality restore Phase 1: Geometry Comes Back
  engine/rendering/wgpu_renderer.py
  engine/runtime/framework_engine.py
  engine/window/rendercanvas_glfw.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
  tests/engine/unit/window/test_rendercanvas_glfw.py
Due: check-engine-or-warships, check-tests-engine

feat: renderer functionality restore Phase 2: Text Becomes Readable
  docs/plans/active/engine_ui_framework_upgrade_plan.md
  engine/api/__init__.py
  engine/api/ui_primitives.py
  engine/api/ui_projection.py
  engine/rendering/scene_runtime.py
  engine/rendering/wgpu_renderer.py
  engine/window/rendercanvas_glfw.py
  tests/engine/unit/api/test_ui_primitives.py
  tests/engine/unit/api/test_ui_projection.py
  tests/engine/unit/rendering/test_scene_runtime.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
  tests/engine/unit/window/test_rendercanvas_glfw.py
  tests/warships/unit/ui/test_game_view.py
  tests/warships/unit/ui/test_views_common.py
  tests/warships/unit/ui/test_views_new_game_screen.py
  warships/game/ui/game_view.py
  warships/game/ui/views/new_game_screen.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine, check-tests-warships

feat: renderer functionality restore Phase 3: Present/Resize Reliability
  docs/plans/archive/wgpu_only_renderer_migration_plan.md
  engine/rendering/wgpu_renderer.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine

feat: renderer functionality restore Phase 4: Final Parity and Lock-In
  tests/warships/integration/app_engine/test_render_parity_regression.py
Due: check-tests-warships

docs: add rendering visual upgrade + optimization plan docs
  docs/plans/active/wgpu_renderer_quality_performance_upgrade_plan.md
  docs/plans/archive/wgpu_renderer_functional_completion_plan.md
Due: ruff-docs-check, ruff-docs-format

docs: add rendering visual upgrade + optimization plan docs
  docs/architecture/system_overview.md
  docs/operations/runtime_configuration.md
Due: ruff-docs-check, ruff-docs-format

feat: rendering optimization Phase 1 Snapshot + Draw-Work Reduction Core
  .env.app.example
  .env.engine.example
  docs/architecture/system_overview.md
  docs/diagnostics/guides/engine_debug_tools_user_guide.md
  docs/operations/runtime_configuration.md
  engine/diagnostics/config.py
  engine/rendering/scene_runtime.py
  engine/rendering/ui_diagnostics.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/debug_config.py
  engine/runtime/diagnostics_http.py
  engine/runtime/framework_engine.py
  engine/runtime/host.py
  engine/runtime/window_frontend.py
  engine/window/rendercanvas_glfw.py
  tests/engine/unit/api/test_debug_api.py
  tests/engine/unit/rendering/test_scene_runtime.py
  tests/engine/unit/rendering/test_ui_diagnostics.py
  tests/engine/unit/runtime/test_debug_config.py
  tests/engine/unit/runtime/test_host.py
  tests/engine/unit/runtime/test_window_frontend.py
  tests/tools/engine_monitor/test_live_view_models.py
  tests/tools/engine_monitor/test_view_model_perf_budget.py
  tests/tools/engine_obs_core/test_live_source_contract.py
  tests/warships/unit/infra/test_app_data.py
  tools/engine_monitor/app.py
  tools/engine_monitor/views/performance.py
  tools/engine_obs_core/datasource/live_source.py
  warships/game/app/engine_game_module.py
  warships/game/infra/app_data.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine, check-tests-warships, check-tools

feat: rendering optimization Phase 2 Static UI Caching + Upload Stability
  .env.engine.example
  .idea/runConfigurations/Warships_Dev.xml
  .idea/runConfigurations/Warships_Diagnostics.xml
  docs/plans/active/engine_diagnostics_schema_capability_plan.md
  engine/rendering/wgpu_renderer.py
  engine/runtime/profiling.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
  tools/engine_monitor/app.py
  tools/engine_monitor/views/performance.py
  warships/main.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine, check-tools

feat: rendering optimization Phase 3 Real Text Pipeline (Atlas + Quads)
  .env.engine.example
  .idea/runConfigurations/Warships_Profiling.xml
  docs/plans/active/diagnostics_metrics_rework_optimization_plan.md
  engine/api/__init__.py
  engine/api/ui_framework.py
  engine/api/ui_primitives.py
  engine/diagnostics/adapters.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/bootstrap.py
  engine/runtime/framework_engine.py
  engine/runtime/host.py
  engine/runtime/profiling.py
  engine/runtime/ui_space.py
  tests/engine/conftest.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
  tests/engine/unit/runtime/test_framework_engine.py
  tests/engine/unit/runtime/test_host.py
  tests/engine/unit/runtime/test_ui_space.py
  tests/warships/unit/app/test_engine_adapter.py
  tests/warships/unit/ui/test_game_view.py
  warships/game/app/engine_adapter.py
  warships/game/app/engine_game_module.py
  warships/game/app/engine_hosted_runtime.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine, check-tests-warships

feat: rendering optimization Phase 4 UI Style Primitive Upgrade
  docs/plans/active/wgpu_renderer_quality_performance_upgrade_plan.md
  engine/api/__init__.py
  engine/api/ui_style.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/bootstrap.py
  engine/runtime/ui_space.py
  tests/engine/unit/api/test_ui_style.py
  warships/game/ui/framework/widgets.py
  warships/game/ui/game_view.py
  warships/game/ui/views/common.py
  warships/game/ui/views/new_game_screen.py
  warships/game/ui/views/placement_battle_screen.py
  warships/game/ui/views/preset_manage_screen.py
  warships/game/ui/views/status_overlay.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine

feat: rendering upgrade Phase 5 Layout and Typography Rules Lock-In
  docs/plans/active/wgpu_renderer_quality_performance_upgrade_plan.md
  engine/api/__init__.py
  engine/api/ui_primitives.py
  engine/api/ui_projection.py
  engine/window/rendercanvas_glfw.py
  tests/engine/unit/api/test_ui_primitives.py
  tests/engine/unit/api/test_ui_projection.py
  tests/warships/unit/ui/test_views_common.py
  tests/warships/unit/ui/test_views_new_game_screen.py
  warships/game/ui/framework/widgets.py
  warships/game/ui/game_view.py
  warships/game/ui/views/common.py
  warships/game/ui/views/new_game_screen.py
  warships/game/ui/views/placement_battle_screen.py
  warships/game/ui/views/preset_manage_screen.py
  warships/game/ui/views/status_overlay.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine, check-tests-warships

feat: rendering upgrade Phase 6 Resize/Present Burst Hardening
  .env.app.example
  .env.engine.example
  docs/plans/active/wgpu_renderer_quality_performance_upgrade_plan.md
  engine/api/debug.py
  engine/api/hosted_runtime.py
  engine/diagnostics/metrics_store.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/host.py
  engine/runtime/window_frontend.py
  engine/window/rendercanvas_glfw.py
  tests/engine/unit/api/test_debug_api.py
  tests/engine/unit/diagnostics/test_metrics_store.py
  tests/engine/unit/diagnostics/test_schema_compat.py
  tests/engine/unit/runtime/test_window_frontend.py
  tests/engine/unit/window/test_rendercanvas_glfw.py
  warships/game/app/engine_hosted_runtime.py
  warships/game/infra/app_data.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine

feat: Phase 7 Runtime Mode and Diagnostics Budget Control
  .env.engine.example
  docs/plans/active/wgpu_renderer_quality_performance_upgrade_plan.md
  engine/diagnostics/config.py
  engine/diagnostics/hub.py
  engine/rendering/scene_runtime.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/debug_config.py
  engine/runtime/host.py
  engine/runtime_profile.py
  tests/engine/unit/diagnostics/test_config.py
  tests/engine/unit/diagnostics/test_hub.py
  tests/engine/unit/rendering/test_scene_runtime.py
  tests/engine/unit/runtime/test_debug_config.py
  tests/engine/unit/runtime/test_runtime_profile.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships, check-tests-engine

feat: Phase 8 Final Tuning and Acceptance Sweep
  docs/plans/active/wgpu_renderer_quality_performance_upgrade_plan.md
  engine/rendering/wgpu_renderer.py
Due: ruff-docs-check, ruff-docs-format, check-engine-or-warships
