Repository Nullpoint56/Warships2: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-engine-or-warships, check-tests-engine, check-tests-warships, check-tools, check-rerun-everything

check-engine-or-warships:
  name: quality check (engine/warships)
  entry: uv run python scripts/check.py
  language: system
  pass_filenames: false

check-tests-engine:
  name: quality check (tests/engine)
  entry: uv run python scripts/check.py --skip-warships-tests
  language: system
  pass_filenames: false

check-tests-warships:
  name: quality check (tests/warships)
  entry: uv run python scripts/check.py --skip-engine-tests
  language: system
  pass_filenames: false

check-tools:
  name: quality check (tools)
  entry: uv run python scripts/check.py --skip-engine-tests --skip-warships-tests
  language: system
  pass_filenames: false

check-rerun-everything:
  name: quality check (config/scripts/workflows)
  entry: uv run python scripts/check.py
  language: system
  pass_filenames: false

feat: Phase 9 Native-Backed Acceleration and Platform Hardening (Must-Have Final Pass)
  .env.engine.example
  docs/plans/active/wgpu_renderer_quality_performance_upgrade_plan.md
  engine/api/logging.py
  engine/diagnostics/crash.py
  engine/diagnostics/json_codec.py
  engine/diagnostics/profiling.py
  engine/diagnostics/replay.py
  engine/diagnostics/subscribers/jsonl_exporter.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/bootstrap.py
  engine/runtime/diagnostics_http.py
  engine/runtime/host.py
  engine/window/__init__.py
  engine/window/factory.py
  pyproject.toml
  tests/engine/unit/diagnostics/test_json_codec.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
  tests/engine/unit/runtime/test_bootstrap.py
  tests/engine/unit/window/test_factory.py
  tools/window_backend_probe.py
Due: check-engine-or-warships, check-tests-engine, check-tools, check-rerun-everything

feat: renderer optimizations
  .env.engine.example
  .idea/runConfigurations/Warships_Dev.xml
  .idea/runConfigurations/Warships_Profiling.xml
  docs/operations/runtime_configuration.md
  docs/plans/archive/wgpu_renderer_quality_performance_upgrade_plan.md
  engine/api/gameplay.py
  engine/gameplay/state_store.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/host.py
  engine/runtime/profiling.py
  engine/runtime/ui_space.py
  tests/engine/unit/gameplay/test_state_store.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
  tests/engine/unit/runtime/test_host.py
  tests/engine/unit/runtime/test_runtime_profiling_capture.py
  tests/tools/engine_monitor/test_live_view_models.py
  tools/engine_monitor/app.py
  tools/engine_monitor/views/performance.py
  warships/game/app/engine_game_module.py
  warships/game/app/engine_hosted_runtime.py
Due: check-engine-or-warships, check-tests-engine, check-tools

feat: improve game graphics
  engine/api/ui_primitives.py
  engine/api/ui_projection.py
  engine/api/ui_style.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/bootstrap.py
  engine/runtime/ui_space.py
  engine/ui_runtime/widgets.py
  tests/engine/unit/api/test_ui_projection.py
  tests/engine/unit/api/test_ui_style.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
  tests/warships/unit/app/services/test_ui_buttons.py
  tests/warships/unit/ui/test_framework_widgets.py
  tests/warships/unit/ui/test_game_view.py
  tests/warships/unit/ui/test_views_new_game_screen.py
  tests/warships/unit/ui/test_views_placement_battle_screen.py
  tests/warships/unit/ui/test_views_preset_manage_screen.py
  warships/game/app/services/ui_buttons.py
  warships/game/ui/framework/widgets.py
  warships/game/ui/game_view.py
  warships/game/ui/scene_theme.py
  warships/game/ui/views/new_game_screen.py
  warships/game/ui/views/placement_battle_screen.py
  warships/game/ui/views/preset_manage_screen.py
  warships/game/ui/views/status_overlay.py
Due: check-engine-or-warships, check-tests-engine, check-tests-warships

feat: speed up git hook
  .pre-commit-config.yaml
Due: none

fix: test, type and debug related issue
  engine/rendering/wgpu_renderer.py
  engine/runtime/host.py
  engine/runtime/profiling.py
Due: check-engine-or-warships

fix: exe build
  .env.app.example
  .env.engine.example
  engine/rendering/wgpu_renderer.py
  scripts/build_exe.ps1
  warships/game/infra/config.py
Due: check-engine-or-warships, check-rerun-everything

fix: windows build bad env file location
  scripts/build_exe.ps1
Due: check-rerun-everything

fix: letters are clamped on their sides
  engine/rendering/wgpu_renderer.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
Due: check-engine-or-warships, check-tests-engine

fix: letters are clamped on their sides v2
  engine/rendering/wgpu_renderer.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
Due: check-engine-or-warships, check-tests-engine

fix: ship with continuous rendering
  scripts/build_exe.ps1
Due: check-rerun-everything

fix: double zipping exe artifact
  .github/workflows/build_windows.yml
Due: check-rerun-everything

fix: docs CI step and confusing mypy check name
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_docs.py
Due: check-rerun-everything

fix: setting ENGINE_UI_PANEL_RESOLUTION makes UI larger than default causing larger UI than panel
  engine/rendering/wgpu_renderer.py
  tests/engine/unit/rendering/test_wgpu_renderer.py
Due: check-engine-or-warships, check-tests-engine

fix: ENGINE_UI_ASPECT_MODE contain causing app crash
  tests/warships/unit/ui/test_game_view.py
  warships/game/ui/game_view.py
Due: check-engine-or-warships, check-tests-warships

fix: AI shot overrides player sinking a ship message + FX improvements to indicate successful sinking
  tests/warships/unit/app/services/test_battle.py
  tests/warships/unit/ui/test_views_placement_battle_screen.py
  tests/warships/unit/ui/test_views_status_overlay.py
  warships/game/app/services/battle.py
  warships/game/ui/views/placement_battle_screen.py
  warships/game/ui/views/status_overlay.py
Due: check-engine-or-warships, check-tests-warships

fix: disallow direct neighboring ship placement + improve GUI feedback for rule enforcement and reasoning
  tests/warships/unit/app/services/test_mutation_orchestration.py
  tests/warships/unit/app/services/test_placement_flow.py
  tests/warships/unit/app/services/test_placement_flow_additional.py
  tests/warships/unit/core/test_board.py
  tests/warships/unit/core/test_fleet.py
  tests/warships/unit/presets/test_service.py
  tests/warships/unit/ui/helpers.py
  tests/warships/unit/ui/test_framework_widgets.py
  tests/warships/unit/ui/test_views_placement_battle_screen.py
  warships/game/app/controller.py
  warships/game/app/controller_state.py
  warships/game/app/services/controller_support.py
  warships/game/app/services/mutation_orchestration.py
  warships/game/app/services/placement_editor.py
  warships/game/app/services/placement_flow.py
  warships/game/app/services/state_projection.py
  warships/game/app/ui_state.py
  warships/game/core/board.py
  warships/game/core/fleet.py
  warships/game/ui/game_view.py
  warships/game/ui/views/__init__.py
  warships/game/ui/views/placement_battle_screen.py
Due: check-engine-or-warships, check-tests-warships

fix: CI packaging doesn't include default configurations for release
  .github/workflows/build_windows.yml
Due: check-rerun-everything

docs: document Unclean architecture issues in refactor plan
  docs/architecture/audits/engine_import_edges.csv
  docs/architecture/audits/unclean_architecture_module_verdicts.csv
  docs/architecture/audits/unclean_architecture_violations.csv
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

docs: document Potentially unsustainable code or architecture occurrences in refactor plan
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

docs: restructure refactor plan doc
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

docs: expand Evaluation criterion with concrete evaluations
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

docs: add evaluation policy
  docs/architecture/codebase_discipline_and_quality_policy.md
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

docs: reset refactoring plan
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

feat: setup codebase discipline and quality policy enforcers
  .github/workflows/quality.yml
  .importlinter
  .jscpd.json
  docs/architecture/codebase_discipline_and_quality_policy.md
  pyproject.toml
  scripts/check_bootstrap_wiring_ownership.py
  scripts/check_engine_file_limits.py
  scripts/check_import_cycles.py
  scripts/policy_static_checks.py
  tools/quality/semgrep/broad_exception_policy.yml
  tools/quality/semgrep/domain_literal_leakage.yml
Due: check-tools, check-rerun-everything

feat: collect findings and generate refactoring plan
  docs/plans/active/engine_refactoring_architecture_plan.md
  engine/bootstrap/__init__.py
  engine/domain/__init__.py
  engine/platform/__init__.py
  scripts/policy_static_checks.py
Due: check-engine-or-warships, check-rerun-everything

feat: tighten requirements
  .gitignore
  .pre-commit-config.yaml
  docs/architecture/audits/static_checks/.gitkeep
  docs/architecture/codebase_discipline_and_quality_policy.md
  docs/plans/active/engine_refactoring_architecture_plan.md
  scripts/check_api_runtime_factories.py
  scripts/check_barrel_exports.py
  scripts/check_boundary_dto_purity.py
  scripts/check_domain_semantic_leakage.py
  scripts/check_duplicate_cluster.py
  scripts/check_env_read_placement.py
  scripts/check_exception_observability.py
  scripts/check_feature_flag_registry.py
  scripts/check_import_cycles.py
  scripts/check_public_api_surface.py
  scripts/check_state_mutation_ownership.py
  scripts/policy_static_checks.py
  tools/quality/budgets/engine_api_surface_baseline.txt
  tools/quality/budgets/feature_flags_registry.json
  tools/quality/budgets/import_cycles_baseline.json
  tools/quality/semgrep/broad_exception_policy.yml
  tools/quality/semgrep/domain_literal_hardening.yml
  tools/quality/semgrep/domain_literal_leakage.yml
  tools/quality/semgrep/protocol_boundary_rules.yml
Due: check-tools, check-rerun-everything

docs: update document structure for plan
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

docs: update document structure for plan
  docs/architecture/audits/engine_import_edges.csv
  docs/architecture/audits/static_checks/.gitkeep
  docs/architecture/audits/unclean_architecture_module_verdicts.csv
  docs/architecture/audits/unclean_architecture_violations.csv
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

docs: static check finding's evaluations
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

docs: extended LLM evaluations for discipline doc
  docs/architecture/codebase_discipline_and_quality_policy.md
Due: none

docs: Finished refactoring plan for static analysis
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

docs: update refactoring plan doc to add new structure element
  docs/plans/active/engine_refactoring_architecture_plan.md
Due: none

refactor: phase S1 done
  docs/plans/active/engine_refactoring_architecture_plan.md
  engine/api/__init__.py
  engine/api/hosted_runtime.py
  engine/runtime/__init__.py
  engine/runtime/entrypoint.py
  tools/quality/budgets/engine_api_surface_baseline.txt
  warships/game/app/engine_hosted_runtime.py
Due: check-engine-or-warships, check-tools

refactor: phase S2 done
  docs/plans/active/engine_refactoring_architecture_plan.md
  engine/api/ui_style.py
  engine/diagnostics/adapters.py
  engine/diagnostics/config.py
  engine/rendering/scene_runtime.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/bootstrap.py
  engine/runtime/config.py
  engine/runtime/debug_config.py
  engine/runtime/framework_engine.py
  engine/runtime/host.py
  engine/runtime/profiling.py
  engine/runtime/ui_space.py
  engine/runtime_profile.py
  engine/window/factory.py
  engine/window/rendercanvas_glfw.py
  scripts/check_env_read_placement.py
  scripts/check_feature_flag_registry.py
Due: check-engine-or-warships, check-rerun-everything

refactor: phase S2 done
  docs/plans/active/engine_refactoring_architecture_plan.md
  engine/rendering/wgpu_renderer.py
  engine/runtime/config.py
  tools/quality/budgets/feature_flags_registry.json
Due: check-engine-or-warships, check-tools

refactor: phase S3 done
  docs/plans/active/engine_refactoring_architecture_plan.md
  engine/api/action_dispatch.py
  engine/api/ai.py
  engine/api/app_port.py
  engine/api/assets.py
  engine/api/commands.py
  engine/api/composition.py
  engine/api/context.py
  engine/api/debug.py
  engine/api/events.py
  engine/api/game_module.py
  engine/api/gameplay.py
  engine/api/interaction_modes.py
  engine/api/logging.py
  engine/api/module_graph.py
  engine/api/render.py
  engine/api/screens.py
  engine/api/ui_framework.py
  engine/api/window.py
  engine/runtime/bootstrap.py
  engine/runtime/framework_engine.py
  engine/runtime/host.py
  engine/runtime/ui_space.py
  engine/runtime/window_frontend.py
  engine/window/rendercanvas_glfw.py
  tools/quality/semgrep/protocol_boundary_rules.yml
  warships/game/ui/game_view.py
Due: check-engine-or-warships, check-tools

refactor: phase S3 all done
  docs/architecture/README.md
  docs/architecture/codebase_discipline_and_quality_policy.md
  docs/architecture/engine_api_contract_model_policy.md
  docs/plans/active/engine_refactoring_architecture_plan.md
  engine/ai/agent.py
  engine/ai/blackboard.py
  engine/api/action_dispatch.py
  engine/api/ai.py
  engine/api/app_port.py
  engine/api/assets.py
  engine/api/commands.py
  engine/api/composition.py
  engine/api/context.py
  engine/api/events.py
  engine/api/gameplay.py
  engine/api/interaction_modes.py
  engine/api/logging.py
  engine/api/module_graph.py
  engine/api/render.py
  engine/api/screens.py
  engine/api/ui_framework.py
  engine/api/window.py
  engine/assets/__init__.py
  engine/assets/registry.py
  engine/gameplay/update_loop.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/__init__.py
  engine/runtime/commands.py
  engine/runtime/events.py
  engine/runtime/framework_engine.py
  engine/runtime/host.py
  engine/runtime/interaction_modes.py
  engine/runtime/module_graph.py
  engine/runtime/screen_stack.py
  engine/runtime/ui_space.py
  warships/game/ui/game_view.py
Due: check-engine-or-warships

refactor: phase S4 all done
  docs/plans/active/engine_refactoring_architecture_plan.md
  engine/diagnostics/json_codec.py
  engine/gameplay/update_loop.py
  engine/rendering/scene_runtime.py
  engine/rendering/wgpu_renderer.py
  engine/runtime/bootstrap.py
  engine/runtime/diagnostics_http.py
  engine/runtime/errors.py
  engine/runtime/host.py
  engine/runtime/profiling.py
  engine/runtime/ui_space.py
  engine/window/rendercanvas_glfw.py
Due: check-engine-or-warships

Path conditions:
  check-engine-or-warships: any of: ^(engine/|warships/)
  check-tests-engine: any of: ^tests/engine/
  check-tests-warships: any of: ^tests/warships/
  check-tools: any of: ^tools/
  check-rerun-everything: any of: ^(pyproject\.toml|pytest\.ini|uv\.lock|scripts/|\.github/)
